
<h1>Books</h1>

  <table>
    <tbody>
    <% @book.each do |book| %>
    <tr>
      <td>
        <%= link_to book.title, book_path(book.id) %>
      </td>
      <td>
        <%= book.body %>
      </td>

    </tr>
    <% end %>
    </tbody>
  </table>
