<div class="container">
  <div class="low">
    <div class="col-lg-3">
    </div>
  	<div class="col-lg-9">
    <h2>welcome to
    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
    Bookers !!</h2>
   <p>In
   <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
   Bookers,</p>
   <p>you can share and exchange your opinions ,inpressiona, and emotinos<br>about various books!</p>

      <div class="col-lg-7">
          <%= link_to "Log in" ,new_user_session_path, class: "btn btn-info btn-block active" %>
          <%= link_to "Sign Up" ,new_user_registration_path, class: "btn btn-default btn-block label-success" %>
      </div>
   </div>
  </div>
  </div>
</div>